{% extends 'base.html'%}
{% block title %}Park Finder{%endblock%}
{% block content %}

<h2 class="text-center"> All users </h2>

<div class="container-fluid">
    <div class="row">
        {% for user in users %}
        <div class="col-6 text-center">
            <div class="card" >
                <img src="https://images.unsplash.com/photo-1599460546755-ec4b6b7132a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGhhcHB5fGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p> {{ user.name }} </p>
                    <p> {{user.email}} </p>
                    <a href="/{{user.id}}" target="_blank" class="btn btn-info"> Visit </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
    </div>
</div>



{% endblock %}