<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find Your Fun</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lumen/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">FYF</a>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/register">Signup</a></li>
    <li class="nav-item"><a class="nav-link" href="/users">Login </a></li>   
    <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
  </ul>
</nav>

<div class="container">
{% block content %}


<h2> Welcome to Find Your Fun  </h2>


<p> Use the Navigation Bar at the top to help you </p>

<img src="/templates/images/FYFimg.jpg" 
    alt="green logo with mountains" 
    width="400" 
    height="400"/>

{% endblock %}
</div>

</body>
</html>

<!-- possible footer with information -->