{% extends 'base.html' %}
{% block content %}


<div class="col-md-6 offset-md-3">
<h1 class="text-center"> Welcome to FindYourFun! </h1>
<h2> About Us. </h2>
 <blockquote>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odio, non quis eos vitae hic dignissimos quas eius, iure placeat adipisci inventore ullam reprehenderit laudantium corporis perferendis impedit in. Ipsam.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, ratione. Non consequuntur accusamus inventore obcaecati nesciunt laudantium beatae aut voluptates perferendis provident eos, nam velit suscipit harum porro dolore recusandae?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint optio cupiditate nostrum saepe unde quis voluptate ut eius at, neque iure quos architecto temporibus in iste, a autem, velit magni.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos laudantium vero explicabo, nesciunt temporibus iusto vitae dignissimos ab molestiae nemo quisquam nobis adipisci? Quaerat iure excepturi expedita unde porro mollitia!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore nam recusandae iusto vitae est quas harum omnis. Voluptatum aliquid est necessitatibus eius quae quidem a reiciendis, ex voluptas soluta eveniet?
 </blockquote>

</ul> 
</div>
<div class="text-cetner mx-auto d-block">
    <img src="https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGFkdmVudHVyZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" class="rounded mx-auto d-block shadow-sm p-3 mb-5 bg-body rounded" alt="rv">
</div>


{% endblock %}