{% extends 'base.html' %}
{% block content %}


<div class="col-md-6 offset-md-3">

<h2 class="text-center"> About Us. </h2>
<blockquote>
    While spontaneous excursions have made for some great memories, a little bit of planning goes a long way towards keeping our travels smooth. When you’re ready to get out and explore, here are some of the best National Parks for adventurous groups to help plan or inspire your next journey.
</blockquote>
<blockquote>
    Here at FindYourFun, you can pick any adventure you are seeking, put it into our finder and then you will get a whole bunch of National parks where YOU can enjoy certian hobbies, group activities, family fun, and so much more! 
</blockquote>
<blockquote>
    Make sure you sign into our database to access our free park finder and take advantage of all the resources we have in store for our users.  
</blockquote>

<div class="justify-content-center">
<a class="btn text-center" href="/register"> Lets get Started! </a>
</div>
</ul> 
</div>

<div class="text-cetner mx-auto d-block">
    <img src="https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGFkdmVudHVyZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" class="rounded mx-auto d-block shadow-sm p-3 mb-5 bg-body rounded" alt="rv">
</div>


{% endblock %}