{% extends 'base.html' %}
{% block title %}PeaceOut!{% endblock %}
{% block content %}

<div class="container">
<div class="col-md-6 offset-md-3">

<h2 class=""> Happy Trails! </h2>
<blockquote>
    You have successfully logged out!  We hope to see you soon! 
</blockquote>

<div class="justify-content-center">


<div class="text-cetner mx-auto d-block">
    <img src="https://images.unsplash.com/photo-1465311354905-789ff5f7a457?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVhY2UlMjBvdXR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="rv">
</div>
</div>
</div>

{% endblock %}