{% extends 'base.html'%}
{% block title %}Park Finder{%endblock%}
{% block content %}

<h2 class="text-center"> Listed below are the parks where you can enjoy {{ activity }}</h2>

<div class="container-fluid">
    <div class="row">
{% for park in parks %}
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1567978207507-5795f5529167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fG91dGRvb3JzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top">
                <div class="card-body text-center">
                <h5 class="card-title">{{ park['fullName'] }}</h5>
                <p>State: {{ park['states'] }} </p>
                <p>Designation: {{ park['designation'] }} </p>
                <p>Park Code: {{ park['parkCode'] }} </p>
                <a href="{{ park['url'] }}" target="_blank" class="btn btn-info"> Let's Go!</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}