{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>New User Sign Up</h2>
</div>

<div class="container">
    <p>Thanks for visiting Find Your Fun. <br>
        The one stop for all of your outdoor adventure needs and wants.<br>
        Before we get started, lets find out more about you! </p>
</div>


<div class="container" >
    <form class="form form-horizontal" method="POST" role="form">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
        {% for field in form
            if field.widget.input_type != 'hidden' %}
    
        <p>
            {{ field.label }}
            {{ field }}
        </p>
            <p>
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
            </p>
    
        {% endfor %}
    
        <button action="/{user.id}" type="submit">Submit</button>
    </form>
    
</div>

{% endblock %}