{% extends 'base.html'%}
{% block content %}

{% block title %} 
{{user.name}}
{% endblock %} 
<div class="container">
    <blockquote> 
        {{user.greeting()}}
    </blockquote>
</div>
    <div class="container"> 
        <p>{{user.username}}'s Bio</p>
    <ul>
        <li> Name : {{user.name}} </li>
        <!-- <li> ID : {{user.id}} </li> -->
        <li> Username : {{user.username}} </li>
        <li> Email : {{user.email}} </li>
        <li> Location : {{user.state}} </li>
    </ul>
    <p><a class="btn btn-sm btn-info" href="/user/{{user.id}}/edit">Edit Bio</a></p>
    </div>

    <div class="container">
        <p>{{user.username}}'s' Favorites!</p>
        <!-- Create UL of all users favorites -->
    </div>
    <div class="container">
    <form id="search_form" method="POST">
        <!-- Display form with Field to search Term for Park API  -->
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
        {% for field in form
            if field.widget.input_type != 'hidden' %}
    
        <p>
            {{ field.label }}
            {{ field }}
    
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
        {% endfor %}

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            What would you like to do?
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Camping</button>
            <button class="dropdown-item" type="button">Fishing</button>
            <button class="dropdown-item" type="button">Eat some Food</button>
            <button class="dropdown-item" type="button">Find a Hike</button>
            <button class="dropdown-item" type="button">Watch some Wildlife</button>
            <button class="dropdown-item" type="button">Playgrounds</button>
            <button class="dropdown-item" type="button">Shopping</button>
            
            </div>
        </div>
        <!-- add a button for this form submit -->
        <a href="/park" class="btn btn-outline-primary btn-lg btn-block" >Submit Form</a>
    </div>
{% endblock %}