<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.name}}</title>
</head>
<body>
    <blockquote> 
        {{user.greeting()}}
    </blockquote>
    <div> 
        <p>{{user.username}} Details</p>
    <ul>
        <li> Name : {{user.name}} </li>
        <li> ID : {{user.id}} </li>
        <li> Username : {{user.username}} </li>
        <li> Email : {{user.email}} </li>
        <li> Location : {{user.state}} </li>
    </ul>
    </div>

    <div>
        <p>{{user.username}} Favorites!</p>
        <!-- Create UL of all users favorites -->
    </div>

    <form id="search_form" method="POST">
        <!-- Display form with Field to search Term for Park API  -->
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
        {% for field in form
            if field.widget.input_type != 'hidden' %}
    
        <p>
            {{ field.label }}
            {{ field }}
    
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
    
        {% endfor %}

    <!-- Display form with Field to search Term for Park API  -->
</body>
</html>