{% extends 'base.html' %}
{% block content %}

{% block title %}User Homepage{% endblock %}


<ul>
    {% if 'user_id' not in session %}
    <p>You must be a registered user to access this page.</p>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    {% endif %}


    {% if 'user_id' in session %}
    <h1> Welcome {{user}}</h1>

    <li><a href="/findfun">Find Fun</a></li>
    <li><a href="/logout">Logout</a></li>
    
    {% endif %}

</ul> 


{% endblock %}