{% extends 'base.html'%}
{% block title %}{{user.name}}{% endblock %}
{% block content %}

<style>
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;
        box-shadow: 7em;
    } 

    body{ 
        background-color: aliceblue;
    }

    .row{
        background-color: white;
        border-radius: 25px;
    }

    img{ border-top-left-radius: 25px ;
        border-bottom-left-radius: 25px ;
        height:100%;
    }

</style>    

{% if 'user_id' not in session %}
<h1> You must be logged in to view this page. </h1>
{% endif %}

{% if 'user_id' in session %}
<section class="form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="https://images.unsplash.com/photo-1534987658209-443e1e80c443?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTh8fG91dGRvb3JzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid "alt="login" >
            </div>
            <div class="col-lg-7 px-7">
            <h2 class="font-weight-bold p-4">{{user.greeting()}}</h2>
            <h4 class="px-4">{{user.name}}'s Profile</h4>
            <h4 class="px-4"> 
                <ul>
                    <li> Name : {{user.name}} </li>
                    <!-- <li> ID : {{user.id}} </li> -->
                    <li> Username : {{user.username}} </li>
                    <li> Email : {{user.email}} </li>
                    <li> Location : {{user.state}} </li>
                </ul>
            </h4>
            <a class="btn btn-xs btn-warning" href="/user/{{user.id}}/edit" role="button">Edit User</a>
            <a href="/user/{{user.id}}/delete" method="POST" class=" btn btn-xs btn-danger">Delete User</a>
            <form action="/activity" id="search_form" method="POST">
                <div class="form-row">
                    <div class="col-lg-7 px-5">
                        
                            <!-- Display form with Field to search Term for Park API  -->
                            {{ form.hidden_tag() }}
                            <!--add type=hidden form fields -->
                            {% for field in form
                                if field.widget.input_type != 'hidden' %}
                            <h3 class=" py-5">
                                {{ field.label }}
                                {{ field }}
                    
                                {% for error in field.errors %}
                                {{ error }}
                                {% endfor %}
                            </h3>
                            {% endfor %}
                            <!-- add a button for this form submit -->
                            <button class="btn btn-primary btn-sm">Submit Form</button>
                        </form>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}